PORT=3001
NODE_ENV=

# Database
DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=

# JWT
JWT_SECRET=
JWT_EXPIRE=

#JWT Refresh Token
const REFRESH_TOKEN_SECRET = 
const REFRESH_TOKEN_EXPIRE = 


# Service URLs
PATIENT_SERVICE_URL=
DOCTOR_SERVICE_URL=
GATEWAY_URL=


